click==6.7
Django==1.10.5
djangorestframework==3.5.3
dotenv==0.0.5
oauthlib==2.0.1
psycopg2==2.6.2
PyJWT==1.4.2
python-dotenv==0.6.2
python-openid==2.2.5
requests==2.13.0
requests-oauthlib==0.7.0
six==1.10.0
social-auth-app-django==1.0.1
social-auth-core==1.1.0
wheel==0.24.0
