<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
    </style>
</head>
<body style="font-family: 'Shadows Into Light Two', cursive;
          font-size:20px;
          background-image: url(https://marketing-image-production.s3.amazonaws.com/uploads/4bff56c8ad52806d75cd698d5ea97b63f92e1da39dfb6043e7fcb94bbc7f889cb7b8388d47d6c9930fd661349ff5af0c351a81d054797685a8509d68b3d11200.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 150px;">
<p>Dear <strong>{}</strong>,</p>
<p>We have bugs.</p>
<strong>Error Message:</strong>
<ul>
    <li>{}</li>
</ul>
</body>
</html>